@use "sass:map";
@import "./src/style/pages/theme";

.row {
    justify-content: center;
    margin-bottom: 15px;
    h2 {
        color: map.get($theme-colors,'main');
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
}

.container-pay {
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    justify-content: center; 
    width: 90%;
    margin-bottom: 15px;

    p {
        font-size: 16px;
        font-weight: bold;
        color: map.get($theme-colors,'red');
        margin-bottom: 15px;
    }

    .btnPay {
        border-radius: 5px;
        background-color: map.get($theme-colors,'black-red');
        color: white; 
        border: none;
        font-size: 16px;
        font-weight: 500;
        width: 100px;
        height: 35px;
        cursor: pointer;
        margin-bottom: 20px;
        transition: all 0.2s;
        
        &:hover {
            background-color: map.get($theme-colors,'red');
        }
    }  
}


.cart-items {
        height: 120px;
        display: flex;
        border-radius: 10px;
        border: 1px solid map.get($theme-colors,'main');
        align-items: center;
        padding: 20px 15px 20px 15px;
        
        img {
            width: 100%;
            height: 100%;
    
        }
        .cart-text-left {
            align-items: center;
            margin-left: 50px;
            h6 {
                font-size: 20px;
                font-weight: 700;
                color: map.get($theme-colors,'main');
                line-height: 50px;
            }
            .cart-quantity{
                margin-top: 10px;
                span {
                    font-size:16px;
                    color: map.get($theme-colors,'main');
                    line-height: 20px;
                    font-weight: 400;
                }

            }
        }
        .cart-text-right {
            align-items: center right;
            display: flex;
            flex-direction: column; /* Sắp xếp các item theo chiều dọc */
            width: 100%;
            
            button {
                border-radius: 5px;
                background-color: map.get($theme-colors,'black-red');
                color: white; 
                border: none;
                font-size: 16px;
                font-weight: 500;
                width: 100px;
                height: 35px;
                cursor: pointer;
                margin-bottom: 20px;
                transition: all 0.2s;
                &:hover{
                    background-color: map.get($theme-colors,'red');
                }
            }
            
            span {
                width: 100%;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                color: map.get($theme-colors,'main');
            }
        }
        
}